/**
 * 보드 스킨 관련 스타일
 */

.code-editor {
    font-family: monospace;
    height: 500px;
}

.skin-thumbnail {
    max-height: 150px;
    max-width: 100%;
}

.skin-thumbnail-placeholder {
    height: 150px;
}

.skin-edit-thumbnail {
    max-height: 100px;
}
